@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.inter-family-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* shared-style */
.display-flex {
  display: flex;
}
.primary-color {
  color: rgba(230, 83, 60, 1);
}
.full-white {
  color: rgba(255, 255, 255, 1);
}
.half-white {
  color: rgba(255, 255, 255, 0.5);
}
main {
  background-color: black;
}

/* nav section */
header {
  background-color: rgba(17, 17, 17, 1);
}
.nav-bar {
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  border: 2px solid red;
  margin: 0 auto;
}
.nav-title {
  font-size: 3.6rem;
  font-weight: 700;
  font-style: italic;
}
.nav-link li {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 80px;
}
.nav-link li a {
  text-decoration: none;
}
#home {
  background-color: rgba(230, 83, 60, 1);
  padding: 5px 15px;
  border-radius: 15px;
}

/* banner section */
.banner {
  max-width: 85%;
  border: 2px solid white;
  margin: 0 auto;
  gap: 15%;
  margin-top: 50px;
  align-items: center;
}
.banner-content {
  border: 1px solid red;
  width: 50%;
}
.banner-title {
  font-size: 7.8rem;
}
.banner-desc {
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.banner-img {
  border: 2px solid yellow;
  position: relative;
}
.join-btn {
  padding: 10px 20px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}
.download-btn {
  padding: 10px 20px;
  background: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
}
.tutorial-views {
  align-items: center;
  width: 60%;
  background: rgba(48, 48, 48, 0.54);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  left: -140px;
}

.tutorial-shape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(230, 83, 60, 1);
}
.tutorial-title {
  font-size: 2rem;
  margin-bottom: 0px;
}
.tutorial-desc {
  font-size: 1.6rem;
  margin-top: 8px;
}
.workout-views {
  width: 60%;
  background: rgba(48, 48, 48, 0.54);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 220px;
}
.workout-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
}
.workout-desc {
  margin-top: 3px;
  font-size: 1.3rem;
}

/* habits section */
.habits {
  max-width: 85%;
  border: 2px solid white;
  margin: 0 auto;
  padding-top: 100px;
}

.habits .habits-title,
.habits-desc {
  text-align: center;
}
.habits-title {
  font-size: 4.8rem;
  margin-bottom: 20px;
}
.habits-desc {
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.habits-container {
  display: flex;
}
.habits-routine {
  text-align: center;
}
.habits-routine img {
  border-radius: 50%;
}
.habits-routine-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.habits-routine-desc {
  font-size: 1.4rem;
}

/* extra mile section */
.extra-mile {
  max-width: 85%;
  border: 2px solid white;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 15px;
}
.extra-mile-content{
  width: 30%;
}
.extra-mile-title {
  font-size: 4.8rem;
}
.extra-mile-desc {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
.extra-mile-img {
  width: 35%;
}
.extra-mile-img img {
  width: 100%;
  border-radius: 15px;
}
.extra-mile-btn {
  padding: 10px 20px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}

/* for small device */
@media screen and (max-width: 576px) {
  /* nav bar and banner section */
  .nav-link {
    display: none;
  }
  .banner {
    flex-direction: column;
    gap: 60px;
  }
  .banner-content {
    border: 1px solid red;
    width: 100%;
  }
  .banner-desc {
    margin-top: 30px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title {
    font-size: 3.6rem;
  }
  .tutorial-views {
    width: 40%;
    background: rgba(48, 48, 48, 0.54);
    bottom: 250px;
    left: 0px;
  }
  .tutorial-title {
    font-size: 1.6rem;
  }
  .tutorial-desc {
    font-size: 1.2rem;
  }
  .tutorial-shape {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .workout-views {
    width: 40%;
    top: 10%;
    left: 190px;
  }
  .workout-title {
    font-size: 2.2rem;
  }
  .workout-desc {
    font-size: 1.2rem;
  }

  /* habits section */
  .habits-container {
    flex-direction: column;
    gap: 10px;
  }
  .habits {
    padding-top: 20px;
  }
  .habits-title {
    font-size: 2.5rem;
  }

  /* extra mile section */
  .extra-mile {
   flex-direction: column;
   gap: 20px;
  }
  .extra-mile-content{
    width: 100%;
  }
  .extra-mile-img {
    width: 100%;
  }
  .extra-mile-btn{
    width: 100%;
  }
  .extra-mile-desc {
    /* font-size: 1.4rem; */
    /* margin-top: 20px;
    margin-bottom: 20px; */
    line-height: 25px;
  }
  
}
