@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");

.inter-family-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.grey-qo-regular {
  font-family: "Grey Qo", cursive;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}

/* shared-style */
.display-flex {
  display: flex;
}

.primary-color {
  color: rgba(230, 83, 60, 1);
}
.full-white {
  color: rgba(255, 255, 255, 1);
}
.half-white {
  color: rgba(255, 255, 255, 0.5);
}
main {
  background-color: black;
}

/* nav section */
header {
  background-color: rgba(17, 17, 17, 1);
}
.nav-bar {
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}
.hamburger-menu {
  display: none;
  font-size: 28px;
  cursor: pointer;
}
.nav-title {
  font-size: 3.6rem;
  font-weight: 700;
  font-style: italic;
}
.nav-link li {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 80px;
}
.nav-link i {
  color: white;
  display: none;
  position: absolute;
  right: 150px;
  top: 17px;
  font-size: 2rem;
}
.nav-link li a {
  text-decoration: none;
}
#home {
  background-color: rgba(230, 83, 60, 1);
  padding: 5px 15px;
  border-radius: 15px;
}

/* banner section */
#shape {
  font-size: 15rem;
}
.banner {
  max-width: 85%;
  margin: 0 auto;
  gap: 15%;
  margin-top: 50px;
  align-items: center;
}
.banner-content {
  width: 50%;
  line-height: 90px;
}
.banner-title {
  font-size: 7.8rem;
}
.banner-desc {
  font-size: 1.6rem;
  margin-top: 10px;
  line-height: normal;
}
.banner-img {
  position: relative;
}
.join-btn {
  padding: 10px 20px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}
.download-btn {
  padding: 10px 20px;
  background: transparent;
  color: white;
  outline: none;
  border: 1px solid white;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
}
.tutorial-views {
  align-items: center;
  width: 60%;
  background: rgba(48, 48, 48, 0.54);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 50px;
  left: -140px;
}
.tutorial-shape {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: rgba(230, 83, 60, 1);
}
.tutorial-title {
  font-size: 2rem;
  margin-bottom: 0px;
}
.tutorial-desc {
  font-size: 1.6rem;
  margin-top: 8px;
}
.workout-views {
  width: 60%;
  background: rgba(48, 48, 48, 0.54);
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 120px;
  left: 220px;
}
.workout-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
}
.workout-desc {
  margin-top: 3px;
  font-size: 1.3rem;
}

/* habits section */
.habits {
  max-width: 85%;
  margin: 0 auto;
  padding-top: 100px;
}
.habits .habits-title,
.habits-desc {
  text-align: center;
}
.habits-title {
  font-size: 4.8rem;
  margin-bottom: 20px;
}
.habits-desc {
  font-size: 1.4rem;
  margin-bottom: 40px;
}
.habits-container {
  display: flex;
}
.habits-routine {
  text-align: center;
}
.habits-routine img {
  border-radius: 50%;
}
.habits-routine-title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 15px;
}
.habits-routine-desc {
  font-size: 1.4rem;
}

/* extra mile section */
.extra-mile {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: rgba(34, 34, 34, 1);
  border-radius: 15px;
}
.extra-mile-content {
  width: 30%;
}
.extra-mile-title {
  font-size: 4.8rem;
}
.extra-mile-desc {
  font-size: 1.4rem;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
.extra-mile-img {
  width: 35%;
}
.extra-mile-img img {
  width: 100%;
  border-radius: 15px;
}
.extra-mile-btn {
  padding: 10px 20px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
}

/* bmi section */
.bmi {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #222222;
}
.bmi-title {
  font-size: 4.8rem;
  margin-left: 380px;
}
.bmi-desc {
  font-size: 1.4rem;
  margin-left: 380px;
}
.bmi-content {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
}
.calculator-chart {
  width: 50%;
}
.calculator-chart-title {
  font-size: 2.8rem;
  margin-bottom: 30px;
}
table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.5);
  text-align: left;
  padding: 15px 25px;
}
td {
  font-size: 1.4rem;
}
th {
  font-size: 1.6rem;
  font-weight: 500;
}
.calculate-bmi {
  width: 50%;
}
.calculate-bmi-title {
  font-size: 2.8rem;
}
.calculate-bmi-desc {
  font-size: 1.4rem;
  margin-top: 25px;
  margin-bottom: 32px;
}
input {
  padding: 5px 15px;
  background-color: #383838;
  font-size: 1.6rem;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
}
.measuring-input {
  gap: 70px;
  margin-bottom: 15px;
}
.gender-input {
  gap: 72px;
  margin-bottom: 15px;
}
.activity-input input {
  width: 80%;
  margin-bottom: 15px;
}

/* team section */
.team {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 100px;
}
.team-title,
.team-desc {
  text-align: center;
}
.team-title {
  font-size: 4.8rem;
}
.team-desc {
  font-size: 1.4rem;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
}
.team-image-container-wrapper {
  padding: 20px;
  background-color: #191919;
}
.team-image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.trainer {
  position: relative;
  width: 100%;
}
.team-image-container .trainer img {
  width: 100%;
  height: 390px;
  border-radius: 15px;
}
.trainer-name {
  font-size: 2rem;
  margin-bottom: 5px;
}
.trainer-designation {
  font-size: 1.4rem;
}
.trainer-details {
  width: 40%;
  position: absolute;
  bottom: 95px;
  left: 60px;
  bottom: 20px;
}

/* price section */
.price-container {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 100px;
}
.price-content {
  justify-content: space-between;
}
.price-title {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 50px;
}
.price-desc {
  font-size: 1.6rem;
  text-align: center;
}
.price-plan {
  font-size: 2.1rem;
}
.price-info {
  font-size: 1.6rem;
  margin-bottom: 12px;
}
.price {
  font-size: 4rem;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}
#dollar-sign {
  font-size: 2rem;
  margin-top: 0;
}
.price-btn {
  padding: 10px 20px;
  background-color: rgba(230, 83, 60, 1);
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.4rem;
  font-weight: 600;
}
.price-info i {
  font-size: 1.4rem;
}

/* footer  */
footer {
  background-color: #1a1a1a;
}
.footer-container {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.footer-content {
  width: 50%;
}
.footer-content-title {
  font-size: 7rem;
  font-style: italic;
  color: rgba(230, 83, 60, 1);
  font-weight: 700;
}
.footer-content-desc {
  font-size: 1.4rem;
  margin-top: 15px;
  line-height: 25px;
}
.footer-link-title,
.footer-plan-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}
.footer-link li,
.footer-plan li {
  font-size: 2rem;
  list-style: none;
  margin-bottom: 10px;
}
.footer-link li a,
.footer-plan li a {
  text-decoration: none;
}
hr {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 85%;
}
.copyright {
  text-align: center;
  font-size: 2rem;
}

/* for small device */
@media screen and (max-width: 576px) {
  /* nav bar and banner section */
  .nav-link {
    display: none;
  }
  .hamburger-menu {
    display: block;
    color: white;
  }
  #shape {
    font-size: 7.8rem;
  }
  .banner-content {
    line-height: 55px;
  }
  .banner {
    flex-direction: column;
    gap: 60px;
  }
  .banner-content {
    width: 100%;
  }
  .banner-desc {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .banner-img {
    width: 100%;
  }
  .banner-title {
    font-size: 3.6rem;
  }
  .tutorial-views {
    width: 40%;
    background: rgba(48, 48, 48, 0.54);
    bottom: 250px;
    left: 0px;
  }
  .tutorial-title {
    font-size: 1.6rem;
  }
  .tutorial-desc {
    font-size: 1.2rem;
  }
  .tutorial-shape {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .workout-views {
    width: 40%;
    top: 10%;
    left: 190px;
  }
  .workout-title {
    font-size: 2.2rem;
  }
  .workout-desc {
    font-size: 1.2rem;
  }

  /* habits section */
  .habits-container {
    flex-direction: column;
    gap: 10px;
  }
  .habits {
    padding-top: 20px;
  }
  .habits-title {
    font-size: 2.5rem;
  }

  /* extra mile section */
  .extra-mile {
    flex-direction: column;
    gap: 20px;
  }
  .extra-mile-content {
    width: 100%;
  }
  .extra-mile-img {
    width: 100%;
  }
  .extra-mile-btn {
    width: 100%;
  }
  .extra-mile-desc {
    line-height: 25px;
  }

  /* bmi section */
  .bmi {
    max-width: 85%;
  }
  .bmi-content {
    flex-direction: column;
  }
  .measuring-input {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
  }
  .gender-input {
    flex-direction: column;
    gap: 10px;
  }
  .bmi-title {
    font-size: 4rem;
    margin-left: 50px;
    margin-bottom: 15px;
  }
  .bmi-desc {
    margin-left: 50px;
  }
  .bmi-content {
    align-items: center;
    gap: 15px;
  }
  .calculator-chart {
    width: 100%;
  }
  .calculate-bmi {
    width: 100%;
  }
  .activity-input input {
    width: 100%;
  }

  /* team section */
  .team-image-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-title {
    font-size: 4rem;
  }
  /* price section */
  .price-content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .price-title {
    font-size: 4rem;
  }

  /* footer */
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
  .footer-content {
    width: 100%;
  }
  .footer-link li,
  .footer-plan li {
    font-size: 1.8rem;
  }
}
